<!DOCTYPE html>
<html>
<head>
  <title>Wisconsin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body class='container'>

<%= render 'shared/navbar' %>

<div class="col-sm-8">
  <%= yield %>
</div>
<div id="sidebar" class="col-sm-4">
  <%= render 'shared/sidebar' %>
</div>

</body>
</html>
